# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your name below

In [41]:
# Write your answer here
print("Jasmine Liu")

Jasmine Liu

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [42]:
# Write your answer here:
print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [43]:
# Write your answer here
import numpy as np
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Replace the values "R" and "N" with ```np.nan``` (missing value) <br>
in the column "positionText"
- Create a new column "positionNumeric" that converts <br>
the modified "positionText" column from string to numeric <br>
using ```pd.to_numeric()```

HINT: See the example in Lecture 13

In [44]:
# Write your own code
sprint_results = pd.read_csv("data_raw/sprint_results.csv")
subset      = sprint_results.query("positionText.str.isnumeric() == False")
list_unique = pd.unique(subset["positionText"])
replaced = sprint_results["positionText"].replace(("R", "N"), np.nan)
sprint_results["positionNumeric"] = pd.to_numeric(replaced)

<font size = "5">

(b) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" <br>
with the following categories

$\qquad$ ``` ["1950-1974","1975-1999","2000-onwards"] ```

$\qquad$ HINT: Use the "pd.cut()" command.

In [50]:
# Write your own code
races_raw = pd.read_csv("data_raw/races.csv")
bins_a = [1949,1974,1999,float("inf")]
labels_a = ["1950-1974", "1975-1999", "2000-onwards"]
races_raw["year_brackets"] = pd.cut(races_raw["year"],
                           bins = bins_a,
                           right = True,
                           labels = labels_a)

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Subset the observations for 'constructorId == 3' using ```.query()```
- Obtain the sum of "laps" by "driverId" <br> 
 using ``` .groupby().agg() ```
- Subset the drivers with a sum of laps $\ge 40$
- Store the results of all these operations in a dataframe <br>
```sprint_results_agg ```

In [53]:
# Write your own code
subset = sprint_results.query('constructorId ==3')
sprint_results_agg = (subset.groupby("driverId")
                   .agg(sum = ('laps', 'sum'))
                    .sort_values("sum", ascending = False)
                    .query("sum >= 40"))
pd.DataFrame(sprint_results_agg)

          sum
driverId
849       127
847        59
848        56

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Obtain the sum of "laps" by "driverId" <br> 
using ``` .groupby().agg() ```
- Sort the drivers in descending order using of <br>
the sum of laps using ``` .sort_values() ```

In [47]:
# Write your own code
sprint_results_agg = (subset.groupby("driverId")
                   .agg(sum = ('laps', 'sum'))
                    .sort_values("sum", ascending = False))

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Rename the column "points" to "points_sprint"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>
See Lecture 15

In [48]:
# Write your own code
dict_rename_sprint = {"points": "points_sprint"}
sprint_rename = sprint_results.rename(columns = dict_rename_sprint)

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/sprint_results.csv" and <br>
"data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using <br>
"sprint_results" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "url" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column

In [49]:
# Write your own code
constructor = pd.read_csv("data_raw/constructors.csv")
sprint_constructor_merge = pd.merge(sprint_results,
                         constructor[["constructorId", "url"]],
                         on = "constructorId",
                         how = "left")